body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 300px;
	padding: 20px 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: relative;
	right: 240px;
}

.nav a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.regAMass {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.regAMass a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
}
