body {
	background: rgba(0, 0, 0, 0.838);
	position: relative;
	overflow: hidden;
}
.modal {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background: white;
	height: 774px;
	max-width: 1100px;
	font-size: 14px;
	font-weight: bold;
	padding-right: 30px;
	margin-top: 30px;
}
.name {
	display: flex;
}
input[type="radio"] {
	cursor: pointer;
	margin: 0 10px;
}
label {
	cursor: pointer;
	padding: 15px 0;
}
form {
	padding: 15px 0;
}
.select {
	display: flex;
}
select {
	width: 100px;
}

.input {
	width: 205px;
	padding: 5px;
	margin: 10px 0;
	margin-right: 10px;
	border: 1px rgba(0, 0, 0, 0.084) solid;
	background: none;
}

.block2 {
	padding: 20px;
	padding-left: 40px;
}

.select3 {
	width: 440px;
}
.input2 {
	width: 222px;
}

form .qwerty {
	padding: 0 23px;
	color: #7c7c7c;
}
form label {
	padding-right: 10px;
}
.input3 {
	width: 458px;
}

.button {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 30px;
	gap: 10px;
	padding-bottom: 50px;
}

.btn1 {
	background: #f8f8f8;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	color: #c1c1c1;
}
.btn2 {
	background: #ff6801;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	color: #ffffff;
}
